<div class="row mt-5">  <!--Form-->


  <div class="col-3"></div>
  <div class="col-6">
    <form ng-submit="formSubmit()" name="myForm">
      <div class="mb-3">
        <label for="nameInput" class="form-label">Name</label>

        <input
          name="name"
          ng-model="user.name"
          type="text"
          class="form-control"
          id="nameInput"
          ng-required="true"
        />
        <span
          class="text-danger"
          ng-show="myForm.name.$touched && myForm.name.$error.required"
          >Full name is required.</span
        >
      </div>
      <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>

        <input
          name="email"
          ng-model="user.email"
          type="text"
          class="form-control"
          id="emailInput"
          ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
          ng-required="true"
        />

        <span
          class="text-danger"
          ng-show="myForm.email.$touched && myForm.email.$error.required"
          >Email is required.</span
        >
        <span
          class="text-danger"
          ng-show="myForm.email.$touched && myForm.email.$error.pattern"
          >Email has invalid format.</span
        >
      </div>
      <div class="mb-3">
        <label for="roleInput" class="form-label">Select user role</label>

        <select
          class="form-select"
          aria-label="user-role"
          id="roleInput"
          ng-model="user.role"
          name="role"
          ng-required="true"
        >
          <option value="Subscriber">Subscriber</option>
          <option value="Moderator">Moderator</option>
          <option value="Administrator">Administrator</option>
        </select>
        <span
          class="text-danger"
          ng-show="myForm.role.$touched && myForm.role.$error.required"
          >Role is required.</span
        >
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        ng-disabled="myForm.$invalid"
      >
        Submit
      </button>
    </form>

  </div>
  <div class="col-3"></div>
</div>

<div class="row mt-5"> <!--Nav tabs-->
  

  <div class="col-3"></div>
  <div class="col-6">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-all-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-all"
          type="button"
          role="tab"
          aria-controls="nav-all"
          aria-selected="true"
          ng-click="select(1)"
        >
          All
        </button>

        <button
          class="nav-link"
          id="nav-administrator-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-administrator"
          type="button"
          role="tab"
          aria-controls="nav-administrator"
          aria-selected="false"
          ng-click="select(2)"
        >
          Administrators
        </button>

        <button
          class="nav-link"
          id="nav-moderator-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-moderator"
          type="button"
          role="tab"
          aria-controls="nav-moderator"
          aria-selected="false"
          ng-click="select(3)"
        >
          Moderators
        </button>

        <button
          class="nav-link"
          id="nav-subscriber-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-subscriber"
          type="button"
          role="tab"
          aria-controls="nav-subscriber"
          aria-selected="false"
          ng-click="select(4)"
        >
          Subscribers
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-all"
        role="tabpanel"
        aria-labelledby="nav-all-tab"
      >
        <table class="table table-bordered">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
          <tr ng-repeat="user in userList">
            <td>{{user.userId}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
          </tr>
        </table>
      </div>

      <div
        class="tab-pane fade"
        id="nav-administrator"
        role="tabpanel"
        aria-labelledby="nav-administrator-tab"
      >
        <table class="table table-bordered">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
          <tr ng-repeat="user in userList | filter:{role:filtText}">
            <td>{{user.userId}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
          </tr>
        </table>
      </div>

      <div
        class="tab-pane fade"
        id="nav-moderator"
        role="tabpanel"
        aria-labelledby="nav-moderator-tab"
      >
        <table class="table table-bordered">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
          <tr ng-repeat="user in userList | filter:{role:filtText}">
            <td>{{user.userId}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
          </tr>
        </table>
      </div>

      <div
        class="tab-pane fade"
        id="nav-subscriber"
        role="tabpanel"
        aria-labelledby="nav-subscriber-tab"
      >
        <table class="table table-bordered">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
          <tr ng-repeat="user in userList | filter:{role:filtText}">
            <td>{{user.userId}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-3">
    <button
      type="button"
      class="btn btn-primary"
      ng-click="populateWithDummyData()"
    >
      Fill with dummy data
    </button>
  </div>
</div>
